<div class="form-group">
  <%- render('web-form-input-label') %>
    <div class="col-sm-7">
      <select id="control_<%= name %>" class="form-control" name="<%= name %>">
      <% if (value && value.id) { value = value.id } // handle populated values %>
      <% if(typeof instances != "undefined") { %>
        <% instances.forEach(function(i) { %>
          <option value="<%=i.id%>" <% if (value == i.id) { %>selected<% } %>><%= i.displayName() %></option>
        <% }) %>
      <% } %>
      </select>
    </div>
</div>
