<div class="form-group">
  <%- render('web-form-input-label') %>
  <div class="col-sm-7">
        <input type="text" id="control_<%= name %>" class="form-control" value="<%= value %>" placeholder="Enter <%= label %>" name="<%= name %>" pattern="-?[\d,\.]*" title="<%= label %> must be an number."/>
    </div>
</div>
