<div class="form-group">
  <%- render('web-form-input-label') %>
    <div class="col-sm-7">
      <select id="control_<%= name %>" class="form-control" name="<%= name %>">
        <% opts.forEach(function(i) { %>
          <option value="<%=i%>" <% if (value == i) { %>selected<% } %>><%= i %></option>
        <% }) %>
      </select>
    </div>
</div>
<script>
$( function() {
  $( "select[name=<%- name %>]" ).select2();
} );
</script>
