<div class="form-group">
  <%- render('web-form-input-label') %>
  <label class="col-sm-3 to-right" for="control_<%= name %>"><%= label %></label>
    <div class="col-sm-7">
      <select id="control_<%= name %>" class="form-control" name="<%= name %>">
        <% opts.forEach(function(i) { %>
          <option value="<%=i%>" <% if (value == i) { %>selected<% } %>><%= i %></option>
        <% }) %>
      </select>
    </div>
</div>
