<div class="form-group">
  <%- render('web-form-input-label') %>
  <div class="col-sm-7">
      <select multiple id="control_<%= name %>" class="form-control" name="<%= name %>" size="10">
      <% if(typeof instances != "undefined") { %>
        <% instances.forEach(function(i) { %>
          <option value="<%=i.id%>" <% if (_.any(value, function(x) {return x.id==i.id})) { %>selected<% } %>><%= i.displayName() %></option>
        <% }) %>
      <% } %>
      </select>
    </div>
</div>
