<div class="form-group">
  <%- render('web-form-input-label') %>
  <div class="col-sm-7">
        <textarea rows="6" style="min-height: 100px;" id="control_<%= name %>" class="form-control" placeholder="Enter <%= label %>" name="<%= name %>"><%= value %></textarea>
    </div>
</div>
