<form role="form" action="" method="POST" class="form-horizontal form-bordered" id="validateForm">
    <input type="hidden" id="id" name="<%= idField %>" value="<%= object[idField] %>" />
    <div class="form-body">
      <% attributes.forEach(function(attr) { %>
        <% attr.value = object[attr.name] %>
        <% attr.object = object %>
        <% if(checkTemplate(attr.name)) { %>
          <%- render("web-form-input-"+attr.name, attr) %>
        <% } else if(typeof attr.type != 'undefined') { %>
            <%- render("web-form-input-"+attr.type, attr) %>
        <% } %>
      <% }) %>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <button class="btn btn-primary" type="submit">Save <%= displayName %></button>
        </div>
    </div>
</form>
